DJANGO_SECRET_KEY=replace-this-local-key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
APP_ENV=local-compose
APP_VERSION=compose-v1

# EC2에서 RDS를 사용할 때만 아래 값을 설정한다.
# DB_NAME=cloudapp
# DB_USER=cloudadmin
# DB_PASSWORD=replace-this-password
# DB_HOST=replace-this-rds-endpoint
# DB_PORT=5432
